{%- include "partials/head.njk" -%}
  {%- include "partials/menu.njk" -%}
  <style>
    section li { 
    }
    section li:first-of-type {
      margin-top: 0;
    }
  </style>
  <section>
  <div class = "content">
    <div id = "details" class = "featured">
      <h2> {{ title }} </h2>
      <h3> {{ author }} </h3>
      {%- if sold_out -%}
        <p>Sold out</p>
      {%- else -%}
        <p> ${{ price }}</p>
        <div id = "shipping">
          <ul>
            <li> Shipping (US): ${{ shipping_us }} </li>
            <li> Shipping (International): ${{ shipping_intl }} </li>
          </ul>
        </div>
      {%- endif -%}
      <h4>About</h4>
      <p style = "margin-bottom: 1vw;"> {{ summary }} </p>
      <p> {{ production_details }} </p>
      {%- if not sold_out -%}
        <p class = "button"><a href = "{{ shop }}" target = "_blank">Purchase ⟶</a></p>
      {%- endif -%}
    </div>
    <div id = "masonry">
        {%- for image in images -%}
          <div>
            <a href = "/img/projects/{{slug}}/{{image.name}}" data-lightbox="gallery">
                {% image
                    "projects/" + slug,
                    image.name,
                    "Product photo"
                %}
            </a>
          </div>
        {%- endfor -%}
    </div>
   </div>
  </section>
  <section>
    <div class = "content columnar">
  {{ content | safe }}
  </div>
  </section>
{%- include "partials/footer.njk" -%}
