{%- include "partials/head.njk" -%}
  {%- include "partials/menu.njk" -%}
  <style>
    .content img {
      max-width: 100%;
    }
  </style>
  <section>
  <div class = "content" style = "display: unset;">
    <div id = "details" class = "featured">
      <h2> {{ title }} </h2>
      <h3> {{ joinArtistNames(artists) }} </h3>
      {%- if sold_out -%}
        <p>Sold out</p>
      {%- else -%}
        <p> ${{ price }}</p>
        <div id = "shipping">
          <ul>
            <li> Shipping (North America): ${{ shipping_us | safe }} </li>
            <li> Shipping (International): ${{ shipping_intl | safe }} </li>
          </ul>
        </div>
      {%- endif -%}
      <h4>About</h4>
      <p style = "margin-bottom: 1vw;"> {{ summary }} </p>
      <p> {{ production_details | markdown | safe }} </p>
      {%- if not sold_out -%}
          <h4>Subscribe</h4>
          <div id = "buy-buttons">
          {% for entry in shop %}
            <stripe-buy-button
              buy-button-id="{{ entry.id }}"
              publishable-key="{{ entry.key }}"
            >
            </stripe-buy-button>
          {% endfor %}
          </div>
        {%- endif -%}
    </div>
   </div>
  </section>
  <section>
    <div class = "content" style = "display: unset;">
        {% for entry, data in _series_data %}
          {% if slug == data.series %}
              <h2 id = "{{ createAnchorTag(data.title) }}">{{ data.title }}</h2>
                <div class = "glide" style = "margin: 0 auto;">
                <div class = "glide__track" data-glide-el="track">
                    <ul class = "glide__slides">
                        {% for image in data.images %}
                          <li class = "glide__slide">
                                {% image
                                    "projects/" + slug,
                                    image,
                                    image.alt
                                %}
                          </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
              {{ data.description | markdown | safe }}
            {% set multiple = isMultipleArtists(data.artists) %}
            <h3>About the artist{% if multiple %}s{% endif %}</h3>
            <div {% if multiple %}class = "content"{%endif%}>
            {% for artist in data.artists %}
              <div class = "project-2-up">
                <h4 style = "column-span: unset;">{{ artist.name }}</h4>
                {% if not multiple %}
                  <div class = "single-contributor" {% if not artist.image %} style = "display: block;" {% endif %}>
                {% endif %}
                  {% image
                      "people",
                      artist.image,
                      image.alt
                  %}
                <div>{{ artist.bio | markdown | safe }}</div>
                {% if not multiple %}
                  </div>
                {% endif %}
                {% if not mulitple  %} <div style = "clear: both"></div> {% endif %}
              </div>
            {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
    </div>
  </section>
{%- include "partials/footer.njk" -%}
