* {
	box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #EA7A57;
}

#details::selection {
  color: #222;
  background: #E4DCCB;
}

html{
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  grid-column-start: 1;
  margin: 1vw 0 1vw 0;
  column-span: all;
}

section h2:first-child {
  border-top: solid 2px #222;
}

#details h2 {
  border-top: none;
}

h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 5vh;
}

body {
  background-color: #E4DCCB;
	color: #fff;
  font-family: clarendon-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
	margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

section:last-of-type {
  margin-bottom: 5vh;
}

a,
a:visited,
a[href] {
  color: #61dafb;
}

#about {
  height: 8vw;
  position: relative;
  background: #222;
  color: #E4DCCB;
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5vh;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

#menu ul {
  text-align: center;
}

#about ul li {
  display: inline;
}

#about .logo {
  width: 15%;
  transform: translateY(50%);
}

#about .text-box {
  display: inherit;
  align-items: center;
  font-size: 1em;
}

#details{
  padding: 5vw;
}

#details h2 {
  font-size: 2em;
}

#shipping {
  margin-left: 1vw;
  font-size: 1rem;
}

#menu {
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  font-size: 1.5vw;
}

#menu a, #footer a {
  color: #E4DCCB;
  text-decoration: none;
}

#menu a:hover, .content a, #footer a:hover {
  color: #EA7A57;
  text-decoration: none;
}

.content a:hover {
  color: #A6c4bc;
}

section p:first-of-type{
  grid-column-start: 1;
}

#masonry > div {
  padding: 1%;
}

#masonry img {
  object-fit: contain;
  width:100%;
}

#institutions-list li:first-of-type {
  margin-top: 0;
  margin-bottom: 1.25vh;
}

#institutions-list li {
  margin: 1.25vh 0vh;
}

#masthead img {
  grid-column-start: 1;
}

#masthead p {
  grid-column-start: unset;
}

#footer {
  background: #222;
  color: #E4DCCB;
  height: 15vh;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 3vh 5vw;
  font-family: input-mono, monospace;
  font-size: .75rem;
}

#footer-content {
  display: grid;
  grid-template-columns: auto auto;
  width: 50%;
  margin: 0 auto;
}

#footer #social, #footer #social li {
  display: inline;
  padding: 0 1vw;
  align-self: center;
}

#footer #social img {
  width: 2vh;
  margin-right: 1vw;
}

.subtitle {
  font-size: .75rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 50%;
}

.lightbox-image{
  max-height: 90vh !important;
}

.featured {
  background: #EA7A57;
  color: #fff;
}

.featured p {
  margin-bottom: 1vw;
}

.featured a {
  background: #222;
  color: #fff;
  font-size: 1.5em;
  border: none;
  font-family: clarendon-urw, serif;
  border-radius: 8px;
  padding: 1vw;
}

.featured a {
  color: #fff !important;
}

.featured a:hover{
  background: #E4DCCB !important;
  color: #222 !important;
}

.project {
  grid-column-start: 1;
}

.button {
  margin-top: 2vw;
}

.flexmasonry-break {
  padding: 0 !important;
}

#masonry {
  align-self: center;
}

.content{
  padding: 1vh 5vw;
  color: #222;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-auto-flow: row;
  grid-template-rows: min-content;
  gap: 2vw;
}
