---
layout: layouts/base.njk
title: language in novel forms
---
<section>
<div class = "content">
<p class = "series-description press-description">Abstract form whose instances are collections of other objects.
Often projects take the shape of things that are not normally
classified as "book-like." Rarely, our objects look like traditional books.
It depends.</p>
<h2>Latest object</h2>
{%- for project in collections.projects -%}
  {%- if not "Look Book" in project.data.tags -%}
  {%- if "latest" in project.data.tags -%}
    {%- if "objects" in project.data.tags -%}
    {% include "./_includes/partials/project_left_aligned.njk" %}
  {%- endif -%}
  {%- endif -%}
  {%- endif -%}
{%- endfor -%}
</div>
</section>

<section>
<div class = "content">
<h2 id = "look-books-section"><a href = "/series/lookbook" class = "series-link">Look-Books</a></h2>
<img class = "section-feature" src = "/img/projects/look-book-2019/lb_header_2019.png" alt = "Red ViewFinder with six circular reels spreading horizontally.">
<p class = "series-description">
Laced with the "are we there yet?" vacation nostalgia of the 1980s and '90s, the Look Book series invites artists
to submit work that functions best in the classic view reel format. Each year, we solicit up to six (6) participants 
to contribute to a year-long subscription series that delivers a new reel to your mailbox every two (2) months.</p>
{%- for project in collections.projects -%}
  {%- if "Look Book" in project.data.tags -%}
    {%- if "latest" in project.data.tags -%}
      {% include "./_includes/partials/project_right_aligned.njk" %}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
</div>
<div class = "see-more learn"><p class = "button"><a href = "/series/Look%20Book">See other editions ⟶</a></p></div>

</section>

<section>
<div class = "content">
<h2 id = "project-section"><a href = "/series/objects" class = "series-link">Objects</a></h2>
<p class = "series-description">Closed-edition large projects. We accept submissions and, on occasion, solicit artists to
to produce these works through a highly collaborative process, including editorial and conceptual work around submitted text
and form(s). We traditionally produce editions of 25 to 30 copies.</p>
{% set count = 0 %}
{%- for project in collections.projects -%}
{% set count = count + 1 %}
  {%- if not "latest" in project.data.tags -%}
    {%- if "objects" in project.data.tags -%}
      {% include "./_includes/partials/project_2up.njk" %}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
</div>
<div class = "see-more learn"><p class = "button"><a href = "/series/objects">See other projects ⟶</a></p></div>
</section>

<section>
<div class = "content">
<h2 id = "multitudes-section"><a href = "/series/multitudes" class = "series-link">Multitudes</a></h2>
<p class = "series-description">Faced with a challenge to make a bookwork from such materials as a rolodex or vintage lunch box, artists engaged in the
Multitudes series take-on well-known objects and forms with unique and (un)characteristic approaches. These works transform mundane objects into text-based
experiences and engagements that defy, reconfigure, or emerge into what they appear to be.</p>
{% set count = 0 %}
{%- for project in collections.projects -%}
{% set count = count + 1 %}
  {%- if "latest" in project.data.tags -%}
    {%- if "Multitudes" in project.data.tags -%}
      {% include "./_includes/partials/project_left_aligned.njk" %}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
</div>
<div class = "see-more learn"><p class = "button"><a href = "/series/Multitudes">See other projects ⟶</a></p></div>
</section>
<section>
<div class = "content columnar">
<h2 id = "about-section">About</h2>
<p>Container's original run was from 2017 - 2019 under direction of 
Douglas Luman and Jenni B. Baker. This period of the press took a
long rest after Jenni's passing in late 2020 due to complications
from glioblastoma, a rare form of brain cancer.</p>

<p>In 2023, Container woke up.</p>
</div>
<div class = "content" style = "grid-column: 1 / span 2">
<h3>Collection details</h3>
<p style = "grid-column: 1 / span 2">Container's text objects and artist's books can be found in the collections of many institutions. 
  We thank them for their care and curation of our work. These include:
</p>
  <ul id = "institutions-list">
    <li>The Arab American National Museum</li>
    <li>Brown University</li>
    <li>Cleveland Institute of Art</li>
    <li>Duke University
    <li>Maine College of Art (MECA)
    <li>Ohio University
    <li>The Poetry Center at the University of Arizona
    <li>The Poetry Foundation Library 
    <li>Rhode Island School of Design (RISD)
    <li>Ringling College of Art and Design
    <li>School of the Art Institute of Chicago (SAIC)
    <li>St. Lawrence University
    <li>SUNY Buffalo
    <li>UCLA
    <li>Swarthmore College
    <li>University of Maryland Baltimore County
    <li>University of Minnesota Minneapolis</li>
  </ul>
</div>
<aside id = "masthead" style = "display: block;">
<div class = "content">
<h3>Masthead</h3>
  <h4>Jenni B. Baker</h4>
  <img src = "/img/people/jenni.jpg" style="display: inline;">
  <p>(1984 - 2020). Poet and artist. She created poetry and text objects from David Foster Wallace's <em>Infinite Jest</em>, 
  the <em>Boy Scouts of America Handbook</em>, <em>Grimm's Household Tales</em>, <em>Washington Post</em> articles, 
  <em>This American Life</em> transcripts, standardized tests, sign language dictionaries, NASA mission voice transcriptions, 
  dream interpretation books, Pac-Man guidebooks, science experiment manuals, video game walkthroughs, chess manuals, 
  <em>Paris Review</em> interviews, internet searches and more. 
  Find out more about her and her work <a href = "http://jennibbaker.com" target = "_blank">at her site</a>.
  </p>
  </div>
  <div class = "content">
  <h4>Douglas Luman</h4>
  <img src = "/img/people/doug.png" style="display: inline; width: 150px;">
  <p>Multi-disciplinary artist and digital human based in Pittsburgh, Pennsylvania. They received their MFA 
  from George Mason University. They are the head researcher at <a href = "https://appliedpoetics.org" target = "_blank">appliedpoetics.org</a>, 
  former art director at <a href = "https://stillhousepress.org" target = "_blank">Stillhouse Press</a> and Assistant Professor of 
  Computer Science at Allegheny College. Doug is the author of two books: <a href = "http://www.insidethecastle.org/the-f-text/" target = "_blank"><em>The F Text</em></a> (Inside the Castle, 2017), 
    and <a href = "https://sublunaryeditions.com/products/rationalism-douglas-luman" target = "_blank"><em>Rationalism</em></a> (Sublunary Editions, 2021).</p>
</div>
</aside>
</section>
<section>
  <div class = "content">
    <h2 id = "submit-section">Submit</h2>
    <p>Container is currently not open for submissions. We aim to reopen to new bookwork proposals in Fall 2023. We will make this announcement
      via our Facebook, Twitter, and Instagram accounts. See below for links to these.</p>
    </p>
  </div>
</section>
