---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title:  "Series: {{ tag }}"
permalink: /series/{{ tag }}/
---

<section>
{% set count = 0 %}
<div class = "content">
<h2>{{tag}}</h2>
{%- for project in collections[tag] -%}
{% set count = count + 1 %}
    {% include "./_includes/partials/project_2up.njk" %}
{%- endfor -%}
</div>
</section>
