  <div id = "footer">
    <div id = "footer-content">
    <div style = "margin: 0 auto;">
      <img style = "height: 10vh;" src = "/img/logo.png">  
    </div>
    <ul id = "social">
      <li><a href = "https://www.facebook.com/acontainerco" target = "_blank"><img src = "/img/icons/container-facebook.png">Facebook</a>
      <li><a href = "https://www.instagram.com/acontainerco" target = "_blank"><img src = "/img/icons/container-instagram.png">Instagram</a>
      <li><a href = "https://www.twitter.com/acontainerco" target = "_blank"><img src = "/img/icons/container-twitter.png">Twitter</a>
    </ul>
    </div>
  </div>
  </div>
  <script src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.js"></script>
  <script src="https://unpkg.com/flexmasonry/dist/flexmasonry.js"></script>
  <script src="/js/lightbox/lightbox.min.js"></script>
  <script>
    FlexMasonry.init('#masonry', {
      responsive: false,
      numCols: 3
    });
  let glider;
  Array.from(document.getElementsByClassName('glide')).forEach(elem => {
    glider = new Glide(elem, {
        type: 'carousel',
        startAt: 0,
        perView: 4,
        gap: "2vw",
        breakpoints: {
            800: { perView: 3 },
            600: { perView: 2 },
            300: { perView: 2 }
        }
    });
    glider.mount();
  });
  </script>
  </body>
</html>
