  <div id = "footer">
  </div>
  <script src="https://unpkg.com/flexmasonry/dist/flexmasonry.js"></script>
  <script src="/js/lightbox/lightbox.min.js"></script>
  <script>
    FlexMasonry.init('#masonry', {
      responsive: false,
      numCols: 3
    });
  </script>
  </body>
</html>