<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="description" content="language in novel forms">
    <title>{{ title }} | {{ site.name }}</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}?{{ randomHash() }}">
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/wlr2pya.css">
    <link rel="stylesheet" href="https://unpkg.com/flexmasonry/dist/flexmasonry.css">
  </head>
  <body>
