  <div id="about">
    <div id = "menu">
      <ul>
        <li class = "left1"><a href = "/#project-section">OBJECTS</a></li>
        <li class = "left2"><a href = "/#look-books-section">LOOK BOOKS</a></li>
        <li class = "mid">
          <a href = "/"><img src="{{ site.logo }}" class = "logo" alt="Container logo as unfolded quarter-folded map" /></a></li>
        <li class = "right1"><A href = "/#multitudes-section">MULTITUDES</a></li>
        <li class = "right1"><a href = "/#about-section">ABOUT</a></li>
        <li class = "right2"><a href = "/#submit-section">SUBMIT</a></li>
    </div>
  </div>
  
