  <div id="about">
    <div id = "menu">
      <ul>
        <li><a href = "/#object-section">OBJECTS</a></li>
        <li><a href = "/#look-books-section">LOOK BOOKS</a></li>
        <li>
          <a href = "/"><img src="{{ site.logo }}" class = "logo" alt="Container logo as unfolded quarter-folded map" /></a></li>
        <li><a href = "/#about-section">ABOUT</a></li>
        <li><a href = "/#submit-section">SUBMIT</a></li>
    </div>
  </div>