<div class = "project-2-up">
    <div id = "masonry">
        {%- for image in project.data.images -%}
            <div>
            <a href = "/img/projects/{{project.data.slug}}/{{image.name}}" data-lightbox="gallery">
                {% image
                    "projects/" + project.data.slug, 
                    image.name,
                    "Product photo"
                %}
            </a>
            </div>
        {%- endfor -%}
    </div>
    <div id = "details" class = "project featured">
        <h2> {{ project.data.title }} </h2>
        <h3> {{ project.data.author }} </h3>
        <p> {{ project.data.summary }} </p>
        <p> {{ project.data.production_details }} </p>
        <p class = "button learn"><a href = "/projects/{{ project.data.slug }}">Learn more ⟶</a></p>
    </div>
</div>
