<div id = "details" class = "project featured">
    <h2> {{ project.data.title }} </h2>
    <h3> {{ joinArtistNames(project.data.artists) }} </h3>
    <p> {{ project.data.summary }} </p>
    <p class = "button learn"><a href = "/projects/{{ project.data.slug }}">Learn more ⟶</a></p>
</div>
<div class = "masonry">
    {%- for image in project.data.images -%}
        <div>
        <a href = "/img/projects/{{project.data.slug}}/{{image.name}}" data-lightbox="gallery">
            {% image
                "projects/" + project.data.slug,
                image.name,
                "Product photo"
            %}
        </a>
        </div>
    {%- endfor -%}
</div>
